<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>“To delete your data, please email us at support@studify.com
 or use the delete account option inside the app.”</h1>
</body>
</html>